<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="TFT.mapper.GoodsIpgoMapper">
	<sql id="goodsIpgoColumns">
		GOODS_NUM, IPGO_NUM, IPGO_QTY, IPGO_DATE, MADE_DATE, IPGO_PRICE, EMP_NUM
	</sql>

	<insert id="goodsIpgoWrite">
		insert into goods_ipgo(<include refid="goodsIpgoColumns"></include>)
		values(#{goodsNum}, #{ipgoNum}, #{ipgoQty}, sysdate, #{madeDate}, #{ipgoPrice}, #{empNum})
	</insert>
	
	<select id="goodsIpgoSelectList" resultType="goodsIpgoDTO">
		select <include refid="goodsIpgoColumns"></include> from goods_ipgo
	</select>
	
	<select id="goodsIpgoSelectOne" resultType = "goodsIpgoDTO">
		select <include refid="goodsIpgoColumns"></include> from goods_ipgo where ipgo_num = #{ipgoNum}
	</select>
	
	<update id="goodsIpgoUpdate">
		update goods_ipgo set ipgo_qty = #{ipgoQty}, ipgo_date = #{ipgoDate}, made_date = #{madeDate},
		ipgo_price = #{ipgoPrice}, emp_num = #{empNum} where ipgo_num = #{ipgoNum}
	</update>
	
	<delete id="goodsIpgoDelete">
		delete from goods_ipgo where ipgo_num = #{ipgoNum} 
	</delete>
	
	<select id="goodsIpgoStockSelect">
		select sum(ipgo_qty) as ipgoQty from goods_ipgo
		where goods_num = #{goodsNum}	
	</select>
</mapper>