.profile {
    display: flex;
    align-items: center;
    background-color: #1e2027;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
    width: 80%; /* 페이지의 80%만 사용 */
    margin: 0 auto; /* 가운데 정렬 */
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.avatar img {
    border-radius: 50%;
    border: 2px solid #353a40;
}

.avatar span {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #2d2f36;
    padding: 3px 7px;
    border-radius: 5px;
}

.info {
    flex: 1;
}

.info .name h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.info .name h2::after {
    content: " KR";
    font-size: 12px;
    font-weight: normal;
    color: #888;
    margin-left: 5px;
}

.buttons {
    display: flex;
    gap: 5px; /* 버튼 간격 줄이기 */
}

.updateButton {
    background-color: #18c683;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 10px; /* 버튼 크기 축소 */
    font-size: 12px; /* 버튼 텍스트 크기 축소 */
    cursor: pointer;
}

.updateButton:hover {
    background-color: #14a86f;
}

.updateButton span {
    font-size: 12px; /* 텍스트 크기 조정 */
}

/* 전체 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* 테이블 헤더 스타일 */
table th, table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

/* 랭크 게임 정보 상자 */
.rank-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.rank-container img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.rank-container span {
    display: block;
    font-size: 14px;
    margin: 5px 0;
}

.rank-container .highlight {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}