<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/cartList.css">
<script type="text/javascript">
	$(function(){
		let totalPrice = 0;
		$(".totalPrice").each(function(){
			totalPrice += parseInt($(".totalPrice").val());
		})
		$("#cart-total").html("₩"+totalPrice.toLocaleString('ko-KR'));
		
		$('.qty').on('input', function() {
			var cartQty = this.value;
			var goodsNum = $(this).closest('.product').find('#goodsNum').val();
		    $.ajax({
		    	url : "/cart/cartQtyUpdate",
		    	data : {"goodsNum" : goodsNum, "cartQty" : cartQty},
		    	dataType : "html",
		    	success : function(result){
		    		$("#wholeContent").html(result);
		    	},
		    	error : function(result){
		    		alert("오류가 발생했습니다.");
		    	}
		    })
		});
	})

	function cartGoodsRemove(goodsNum){
		$.ajax({
			url : "/cart/cartGoodsRemove",
			data : {"goodsNum" : goodsNum},
			success : function(memberId){
				if(memberId != null){
					$.ajax({
						url : "/cart/cartList",
						dataType : "html",
						data : {"memberId" : memberId},
						success : function(result) {
							$("#wholeContent").html(result);
						},
						error : function() {
							alert("오류가 발생했습니다.");
						}
					})
				}
			},
			error: function (xhr, status, error) {
			    console.log("XHR Object:", xhr);
			    console.log("Status:", status);
			    console.log("Error:", error);
			    alert("오류가 발생했습니다: " + xhr.responseText);
			}
		})
	}
</script>
</head>
<body>
<div class="shopping-cart">
	<h1>장바구니</h1>
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

<th:block th:each = "list : ${list}">
  <div class="product">
  	<input type = "hidden" id = "goodsNum" th:value = "${list.goodsDTO.goodsNum}">
    <div class="product-image">
      <img th:src="|/static/upload/${list.goodsDTO.goodsMainStoreImage}|">
    </div>
    <div class="product-details">
      <div class="product-title">[[${list.goodsDTO.goodsName}]]</div>
      <p class="product-description">[[${list.goodsDTO.goodsContents}]]</p>
    </div>
    <div class="product-price">[[${#numbers.formatCurrency(list.goodsDTO.goodsPrice)}]]</div>
    <div class="product-quantity">
      <input type="number" class = "qty" th:value="${list.cartDTO.cartQty}" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product" th:attr="onclick = |cartGoodsRemove('${list.goodsDTO.goodsNum}')|">
        Remove
      </button>
    </div>
    <div class="product-line-price">
    	<input type = "hidden" class = "totalPrice" th:value = "${list.total}" />
    	[[${#numbers.formatCurrency(list.total)}]]
    </div>
  </div>
</th:block>

  <div class="totals">
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total"></div>
    </div>
  </div>
      <button class="checkout">Checkout</button>
</div>
</body>
</html>