<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/empForm.css">
	<script type="text/javascript">
		$(function(){
			$("#sample4_roadAddress").click(function(){
				execDaumPostcode();
			});
			
			
		    $('#empForm').submit(function(event) {
		        event.preventDefault(); // 기본 폼 제출 방지
		        
		        // FormData 객체를 사용하여 폼 데이터 준비
		        var formData = new FormData(this);
				$.ajax({
					type : "post",
					url : "/employee/employeeWrite",
					data: formData,
					dataType : "json",
					contentType: false, 
					processData: false,
					success : function(result){
						if(JSON.stringify(result) == '{}'){
							location.href = "/";
						}
						else{
			            	$(".errMsg").css("color", "none");
			            	$(".errMsg").text("");
							for (let field in result) {
					            const errorMessage = result[field]; // 각 필드의 에러 메시지
					            if(errorMessage != ''){
					            	$("#"+field).text(errorMessage);
					            	$("#"+field).css("color", "red");
					            	$("input[name='" + field + "']").focus();
					            }
					        }
						}
					},
					error : function(xhr){
						alert("실패");
					}
				});
			});
		});
	</script>
</head>
<body>
	<div id="wholeContent">
		<!-- Page content -->
		<div id="pageContent">
			<div class="w3-content w3-padding" style="max-width: 1564px">
				<!-- Contact Section -->
				<div class="w3-container w3-padding-32" id="contact">
					<br />
					<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">직원 가입</h3>
					<p>가입에 필요한 정보를 입력해주세요.</p>
					<form id = "empForm" method = "post" th:object="${employeeCommand}">
						<div class = "dust-class">
							<label for ="empId"><span>* </span>아이디</label>
							<input class="txt-input" type="text" placeholder="아이디" name="empId">
							<div id = "empId" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empPw"><span>* </span>비밀번호</label>
							<input class="txt-input" type="password" placeholder="비밀번호" name="empPw">
							<div id = "empPw" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empId"><span>* </span>비밀번호 확인</label>
							<input class="txt-input" type="password" placeholder="비밀번호 확인" name="empPwCon">
							<div id = "empPwCon" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empName"><span>* </span>이름</label>
							<input class="txt-input" type="text" placeholder="이름" name="empName">
							<div id = "empName" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="sample4_roadAddress"><span>* </span>주소</label>
							<input class="txt-input" type="text" placeholder="주소" id = "sample4_roadAddress" name="empAddr">
							<div id = "empAddr" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empAddrDetail">상세주소</label>
							<input class="txt-input" type="text" placeholder="상세주소" name="empAddrDetail">
						</div>
						<div class = "dust-class">
							<label for ="sample4_postcode"><span>* </span>우편번호</label>
							<input class="txt-input" type="text" placeholder="우편번호" id = "sample4_postcode" name="empPost" readonly="readonly">
							<div id = "empPost" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empPhone"><span>* </span>전화번호</label>
							<input class="txt-input" type="text" placeholder="전화번호" name="empPhone">
							<div id = "empPhone" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empJumin"><span>* </span>주민등록번호</label>
							<input class="txt-input" type="text" placeholder="주민등록번호" name="empJumin">
							<div id = "empJumin" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
							<label for ="empEmail"><span>* </span>이메일</label>
							<input class="txt-input" type="email" placeholder="이메일" name="empEmail">
							<div id = "empEmail" class = "errMsg"></div>
						</div>
						<div class = "dust-class">
						<label for ="empImage" name = "empImage"><span>* </span>직원 사진</label>
							<input class="txt-input" type="file" name="empImage">
							<div id = "empImage" class = "errMsg"></div>
						</div>
					<input class="w3-button w3-black w3-section" type="submit" value = "가입하기">
					</form>
				</div>
				</div>	
				<!-- End page content -->
			</div>
		</div>
	</div>
</body>
</html>
