<!DOCTYPE html>
<html>
<head>
<title>전략적 팀 전투 정보 제공 사이트입니다.</title>
	<script type="text/javascript">	
		function empInfo(empNum){
			$.ajax({
				url : "employee/employeeInfo",
				type : "post",
				data : {"empNum" : empNum},
				dataType : "html",
				success : function(result){
					$("#wholeContent").html(result);
				},
				error : function(){
					alert("오류가 발생했습니다.");
				}
			})
		}
	</script>
</head>
<body>
	<div id="wholeContent">
		<!-- Page content -->
		<div id="pageContent">
			<div class="w3-content w3-padding" style="max-width: 1564px">
				<!-- Contact Section -->
				<div class="w3-container w3-padding-32" id="contact">
					<br />
					<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">직원 목록</h3>
					<p>가입한 직원의 목록입니다.</p>
				</div>
				<div class="w3-row-padding w3-grayscale">
					<th:block th:each="list : ${list}">
						<div class="w3-col l3 m6 w3-margin-bottom">
							<img th:src="|/static/upload/${list.empStoreImage}|" alt="img" style="width: 100%">
							<h3>[[${list.empName}]]</h3>
							<p class="w3-opacity">ID : [[${list.empId}]]</p>
							<p>
								Phone : [[${list.empPhone}]] <br /> Email : [[${list.empEmail}]]
							</p>
							<p></p>
							<p>
								<button class="w3-button w3-light-grey w3-block" th:attr="onclick=|empInfo('${list.empNum}')|">상세 보기</button>
							</p>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
